<link rel="stylesheet" type="text/css" href="clickPopup.css">

<div id="FHC-Schedule-Wrapper" class="wrapper">
    <table id="FHC-Schedule" class="schedule">
        <thead>
        <tr class="header-row">				<!--header row 1-->
            <th scope="col" class="header-col">classroom</th>
            <th scope="col">A</th>						<!--col 2-->
            <th scope="col">C</th>						<!--col 3-->
            <th scope="col">D</th>						<!--col 4-->
            <th scope="col">E</th>						<!--col 5-->
            <th scope="col">F</th>						<!--col 6-->
            <th scope="col">I</th>						<!--col 7-->
        </tr>
        <tr class="header-row">				<!--header row 2-->
            <th scope="col" class="header-col">capacity</th>
            <th scope="col">30</th>						<!--col 2-->
            <th scope="col">50</th>						<!--col 3-->
            <th scope="col">100</th>					<!--col 4-->
            <th scope="col">30</th>						<!--col 5-->
            <th scope="col">50</th>						<!--col 6-->
            <th scope="col">100</th>					<!--col 7-->
        </tr>
        </thead>
        <tbody>
        <tr class="comment">		<!-- tr 800 timeslot (Registration) -->
            <th scope="row" class="header-col">8:00 - 8:30</th>
            <td id="x800A-I" colspan="6">
                <p>Registration/Orientation
                </p>
                <p>(open until 1:45)
                </p>
            </td>
        </tr>
        <tr class="comment">		<!-- tr 900 timeslot (Keynote Address) -->
            <th scope="row" class="header-col">9:00 - 9:20</th>
            <td id="x900A-I" colspan="6">
                <p>Keynote Address
                </p>
                <p>Room I
                </p>
            </td>
        </tr>
        <tr id=x930">						<!-- timeslot 930 -->
            <th scope="row" class="header-col">9:30 - 10:30</th>
            <td id="x930A">					<!-- 930 room A -->
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x930C">					<!-- 930 room C -->
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x930D">					<!-- 930 room D -->
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x930E">					<!-- 930 room E -->
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x930F">					<!-- 930 room F -->
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x930I">					<!-- 930 room I -->
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
        </tr>								<!-- end tr x930 timeslot-->
        <tr id="x1045">						<!-- tr x1045 timeslot -->
            <th scope="row" class="header-col">10:45 - 11:45</th>
            <td id="x1045A">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x1045C">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>>
            <td id="x1045D">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x1045E">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x1045F">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x1045I">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
        </tr>								<!-- end tr x1045 -->
        <tr id="x1145" class="comment">		<!-- tr 1145 timeslot (lunch) -->
            <th scope="row" class="header-col">11:45 - 12:45</th>
            <td id="x1145A-I" colspan="6"><p>
                Lunch On Your Own
            </p>
            </td>
        </tr>							<!-- end tr 1145 timeslot -->
        <tr id="x1245">		<!-- 1245 row -->
            <th scope="row" class="header-col">12:45 - 1:45</th>
            <td id="x1245A">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x1245C">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x1245D">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x1245E">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x1245F">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x1245I">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
        </tr>							<!-- end tr x1245 timeslot-->
        <tr id="x200">
            <th scope="row" class="header-col">2:00 - 3:00</th>
            <td id="x200A">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x200C">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x200D">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x200E">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x200F">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x200I">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
        </tr>								<!-- end tr x200 timeslot -->
        <tr id="x315">						<!-- tr x315 timeslot -->
            <th scope="row" class="header-col">3:15 - 4:15</th>
            <td id="x315A">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x315C">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x315D">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x315E">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x315F">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
            <td id="x315I">
                <p class="classTitle">
                </p>
                <div class="classDescrip">
                </div>
                <p class="instructor">
                </p>
                <p class="gender">
                </p>
                <div class="instructorBio">
                </div>
                <div class="instructorImg">
                </div>
            </td>
        </tr>								<!-- end tr x315 timeslot -->
        </tbody>
    </table>
</div>

<script src="clickpopup.js"></script>