/*
** Class Schedule Table styles
*/
#FHC-Schedule-Wrapper {
}
.schedule {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    margin: auto 0;
    font-size: .8em;
}
.schedule p {
    line-height: 1.2em;
}
.schedule th, .schedule td {
    border: solid tan 1px;
    min-width: 250px;
    text-align: left;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.schedule td:hover {
    background-color: #f2f2f2;
}
.schedule th {
    text-align: center;
}
.schedule .header-row, .schedule .header-col {
    background-color: lightgrey;
    text-align: center
}
.schedule .header-col {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    max-width: 125px !important;
    min-width: 100px !important;
}
.comment td {
    text-align: center;
}
.comment td p:nth-of-type(2) {
    margin-top: -1em;
}
.classTitle {
    padding: 5px;
    font-size: 1.2em;
    text-decoration: underline;
    text-align: left;
    color: blue;
}
.instructor {
    padding: 5px;
    margin-top: 5px;
    font-size: 1em;
    text-decoration: underline;
    text-align: right;
    color: blue;
    float: right;
}
.classTitle:hover, .instructor:hover {
    cursor: pointer;
}
.classDescrip, .gender, .instructorBio,
.instructorImg {
    display: none;
}
.popup {
    position: absolute;
    display: flex;
    border: 2px solid #000;
    border-radius: 10px;
    width: 220px;
    height: 250px;
    background-color: rgba(115, 115, 115, .8);
    color: #fff;
    z-index: 10100;
}
.popup-content {
    padding: 32px 20px 20px 20px;
    overflow-y: auto;
}
.popup-btn-wrapper {
}
.dismiss-popup-btn {
    position: absolute;
    top:8px;
    right: 8px;
    width: 20px;
    height: 20px;
    padding: 4px;
    font-size: .9em;
    line-height: .9em;
    text-align: center;
    border: 1px solid #000;
    border-radius: 25%;
    background-color: #ffffcc;
    opacity: .6;
}
.dismiss-popup-btn:hover {
    opacity: 1;
}
.popup-img {
    float: left;
    margin: 0 10px 10px 0;
    width: 75px;
    height: 75px;
    z-index: 100;
}
.popup p {
    margin: 0 0 10px 0;
}
@media only screen
and (max-width: 1200px){
    #FHC-Schedule-Wrapper {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        margin: 0 0;
    }
    .schedule {
        width: auto;
    }
    .schedule th, .schedule td {
        max-width: 200px;
    }
}
@media only screen
and (max-width:500px) {
    .popup {
        width: 190px;
    }
}