/*
** Class Schedule Table styles
*/
.hanGramm_card_main {
    position: absolute !important;
    /*display: flex;*/
    border: 0px solid #000 !important;
    width: 180px !important;
    /*height: 200px;*/
    background-color: white !important;
    color: black !important;
    font-weight: normal; !important;
    z-index: 9999999; !important;
    border-radius: 5% !important;
    padding : 1em !important;
    /*text-align: center;*/
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px !important;
    cursor : pointer !important;

}

.hanGramm_card_main .han_gramm_card_candidates {
    font-weight : bolder;
    font-size : large;
}

.hanGramm_card_main .mouseOver {
    background-color: black !important;
    color: white !important;
}

.han_gramm_errZone_3F-Wk {
    visibility: hidden !important;
    position: absolute !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    pointer-events: auto; !important;
}
.han_gramm_errZone_3F-Wk:before {
    visibility: hidden !important;
    cursor: text !important;
    content: '' !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    pointer-events: auto; !important;
}
.han_gramm_errZone_3F-Wk:after {
    visibility: visible !important;
    content: '' !important;
    position: absolute !important;
    bottom: -2px !important;
    height: 3px !important;
    animation: _3IEsw 0.4s ease forwards !important;
    background: crimson;
    border-radius: 10px !important;
}

.han_gramm_errZone_3F-Wk._3GrEs:before {
    visibility: visible !important;
    animation: _3Q9ZP 0.5s ease forwards !important;
}
.han_gramm_errZone_3F-Wk._3GrEs:after {
    content: '' !important;
    border-radius: 0px !important;
    animation: none !important;
    width: 100% !important;
}
@keyframes _3IEsw {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes _3Q9ZP {
    0% {
        background: transparent;
    }
    100% {
        background: revert;
    }
}


.han_gramm_errZone_3mEyK:after {
    background: rgba(252,84,84,0.75);
}
.han_gramm_errZone_3mEyK._3GrEs:before {
    background: rgba(255,0,0,0.15);
}
.han_gramm_errZone_3mEyK._3GrEs:after {
    background: #fc5454;
}


[hanGrammar-part=button] div.han_gramm_loader{
    border: 3px solid lightgray;
    border-top : 3px solid blue;
    border-radius : 50%;
    background-color: transparent;
    width : 20px;
    height : 20px;
    animation: spin 2s linear infinite
}

[hanGrammar-part=button] div{
    border: 1px solid #ff6e91;
    border-radius : 50%;
    background-color: #ff6e91;
    color : white;
    font-size : 14px;
    text-align: center;
    width : 20px;
    height : 20px;
}

@keyframes spin {
    0%{
        transform : rotate(0deg);
    }
    100%{
        transform : rotate(360deg);
    }
}