[hanGrammar-part=button] div{
    border: 2px solid lightgray;
    border-top : 2px solid blue;
    border-radius : 50%;
    width : 10px;
    height : 10px;
    animation: spin 2s linear infinite
}

@keyframes spin {
    0%{
        transform : rotate(0deg);
    }
    100%{
        transform : rotate(360deg);
    }
}

